body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(37, 45, 34);
}

#display {
  width: 100vh;
  height: 100vh;
  image-rendering: optimizespeed;
}

#tester {
  width: 100vh;
  height: 100vh;
  image-rendering: optimizespeed;
}
